<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>all dogs</title>
</head>
<body>
    <h1>All our dogs!</h1>
    <a href="/">home</a>
    <br>
    <a href="/new">Add your dog!</a>

    <ul>
       <% dogsList.forEach((dog) => { %>
      <li>
        <a href="/dogs/<%=dog._id%>">
          <%= dog.name %>
        </a>
      </li>
     <% }) %>
    </ul>



</body>
</html>