<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add your dogs</title>
</head>
<body>
    <h1>Share your dog with the community!</h1>
    <a href="/dogs">Back to all our dogs!</a>
    <form action="/dogs" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required/>
        <br>
        <label for="breed">breed:</label>
        <input type="text" name="breed" id="breed" required/>
        <br>
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" required/>
        <br>
        <label for="image">Link a Photo:</label>
        <input type="text" name="image" id="image" required/>
        <br>
        <label for="description">Description:</label>
        <textarea type="text" name="description" id="description" required></textarea>
        <br>
        <button type="submit">Add Dog</button>
    </form>
    
</body>
</html>